
:root{
  --font-family-main : Consolas , "Roboto", Serif;
  --font-fize-m:16px;
  --font-line-m:24px;
  --font-m: var(--font-fize-m)/var(--font-line-m) var(--font-family-main);

  --font-fize-l:24px;
  --font-line-l:32px;
  --font-l: var(--font-fize-l)/var(--font-line-l) var(--font-family-main);
}