@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dart";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
